@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body , body * {
  background-color: #393a3f;
  color: #e88c49;
  font-family: 'Orbitron', sans-serif;
}